
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="scrapcar-subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="scrapcar-subheader-wrap">
                    <h1>Message</h1>
                    <ul class="scrapcar-breadcrumb">
                        <li><a href="/Home/Index">Home</a></li>
                        <li>Pages</li>
                        <li class="active">Message</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="scrapcar-main-content">
    <div class="scrapcar-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.Message != "")
                    {
                        <div class="alert alert-success">
                            <button class="close" data-close="alert"></button> @ViewBag.Message
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>