@{
    ViewBag.Title = "About";
}
<div class="scrapcar-subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="scrapcar-subheader-wrap">
                    <h2 style="color:white; font-size:28px;">About Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="scrapcar-main-content">
    <div class="scrapcar-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
    </div>
</div>